.Story {
  margin: 0 0 0.5em;
  border: 1px solid #ddd;
  display: flex;
}

.Story__vote {
  width: 4em;
  color: white;
  border: none;
  background: #ddd;
  flex-shrink: 0;
}

.Story__content {
  padding: 0.5em;
  overflow: hidden;
}

.Story__headline {
  margin: 0 0 0.25em;
  font-size: 1em;
}

.Story__meta {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.Story__meta > * {
  margin-right: 0.3em;
}

.Story__meta,
.Story__meta > a {
  font-size: 0.9em;
  color: #999;
}
