.Story {
  margin: 0 0 1em;
}

.Story__vote {
  float: left;
  height: 3em;
  width: 3em;
  margin-right: 0.5em;
  color: #999;
  border: none;
  background: white;
  border-radius: 0.5em;
}

.Story__content {
  overflow: hidden;
}

.Story__headline {
  margin: 0;
}

.Story__meta {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.Story__meta > * {
  margin-right: 0.3em;
}

.Story__meta,
.Story__meta > a {
  font-size: 0.9em;
  color: #999;
}
